*.log

node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json

.DS_Store

server/bin/*
!server/bin/.gitkeep
deploy/server.env
web/.env
web/dist

# Playwright
web/tests/test-results
web/playwright-report
